<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @course.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @course.descripcion %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
