
<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.text_field :titulo, class:"focus:outline-none mt-2 mb-2", placeholder:"Titulo de la publicación" %>
    <%= f.text_area  :descripcion, class:"focus:outline-none border-transparent rounded border w-full h-64", placeholder:"Que estas pensando?"%>
  </div>

  <div class="form-actions ">
    <%= f.button :submit, "Publicar", class:"rounded py-1 px-2 text-gray-200 bg-gray-800" %>
  </div>
<% end %>
